/* Generado: edita design-tokens/mu-v4.json; no edites este archivo. */
:root{
  --neutral-0: #FFFFFF;
  --neutral-50: #F7F7F7;
  --neutral-100: #EDEDED;
  --neutral-200: #D9D9D9;
  --neutral-300: #C3C3C3;
  --neutral-700: #333333;
  --neutral-900: #111111;
  --color-maiz-amarillo: #FACC15;
  --color-maiz-dorado: #FBBF24;
  --color-maiz-hoja: #14532D;
  --color-maiz-crema: #FDF7E3;
  --color-maiz-negro: #0F0F0F;
  --font-heading: "Archivo Black", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-body: Inter, sans-serif;
  --font-xs: 12px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 20px;
  --font-xl: 24px;
  --spacing-0: 0px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --spacing-10: 40px;
  --color-primary: var(--color-maiz-amarillo);
  --color-bg: var(--neutral-0);
  --color-text: var(--neutral-900);
  --border: var(--neutral-200);
}
:root.dark{
  --neutral-0: #FFFFFF;
  --neutral-50: #F7F7F7;
  --neutral-100: #EDEDED;
  --neutral-200: #D9D9D9;
  --neutral-300: #C3C3C3;
  --neutral-700: #333333;
  --neutral-900: #111111;
  --color-maiz-amarillo: #FACC15;
  --color-maiz-dorado: #FBBF24;
  --color-maiz-hoja: #14532D;
  --color-maiz-crema: #FDF7E3;
  --color-maiz-negro: #0F0F0F;
  --font-heading: "Archivo Black", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-body: Inter, sans-serif;
  --font-xs: 12px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 20px;
  --font-xl: 24px;
  --spacing-0: 0px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --spacing-10: 40px;
  --color-primary: var(--color-maiz-dorado);
  --color-bg: var(--color-maiz-negro);
  --color-text: var(--color-maiz-crema);
  --border: var(--neutral-700);
}
